# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS & Windows
.DS_Store
*.pem
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables (Juda muhim!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
# Agar .env.example bo'lsa, uni GitHubga ruxsat beramiz
!.env.example

# Vercel & EAS
.vercel/
.eas/

# Editor (Hamma maxfiy sozlamalarni yopamiz)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.eslintcache
.stylelintcache

# TypeScript
*.tsbuildinfo

# Scripts and others
cleanup-merged-branches.ps1
app-example/